<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock, paper, scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/home">Home</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
